<div class="topWrapper">

	<header class="header">

		<div class="wrapper">

			<div class="header_headings">

					<div class="call-banner"><span>Call us at 011-23389090</span><br />Mon-Fri 2pm to 10pm and Sat-Sun 10 &amp; to 10pm</div>

					<h1><a href="{{ site.url }}{{ site.baseurl }}">Sumaitri</a></h1>
				  	<h2>A Crisis Intervention Center for Depressed and Suicidal</h2>

			</div> <!-- [/header_headings] -->

		</div> <!-- [/wrapper] -->

	</header>

	
	<nav class="main-nav" role="navigation">
	
		<div class="wrapper">

		  <ul>

			<li><a href="{{ site.url }}{{ site.baseurl }}/about">About</a></li>
			<li><a href="{{ site.url }}{{ site.baseurl }}/how-to-help">How to Help</a></li>
			<li><a href="{{ site.url }}{{ site.baseurl }}/myths-and-facts">Myths &amp; Facts</a></li>
			<li><a href="{{ site.url }}{{ site.baseurl }}/support-us">Support Us</a></li>
			<li><a href="{{ site.url }}{{ site.baseurl }}/contact">Contact</a></li>
		  
		  </ul>

		</div> <!-- [/wrapper] -->
		
  	</nav>

</div> <!-- [/topWrapper] -->